@import url(layouts/fonts.css);
@import url(layouts/variables.css);
@import url(layouts/screenSize.css);
@import url(components/contents.css);
@import url(components/navBar.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-medium);
  background-color: var(--body-bg);
  text-align: center;
}
.navLinks,
#darkModeWrapper {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}
