/* Content Container */
#contentContainerWrapper {
  /* <----Main Container */
  background-color: transparent;
  position: fixed;
  height: 100%;
  width: 100%;
  transition: all ease-in-out 0.15s;
}
#contentContainerWrapper.toggleMoveContent {
  width: 100%;
  z-index: 1;
  transform: translateX(clamp(16rem, 30vw, 19rem));
}
